.logo {
  width: 75px;
}
.btn-info {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-info:hover {
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-primary {
  background-color: #0255e1;
  border-color: #0255e1;
}
.btn-primary:hover {
  background-color: #80d8fe;
  border-color: #80d8fe;
}
.btn-secondary {
  background-color: #8fc823;
  border-color: #8fc823;
}
.btn-secondary:hover {
  background-color: #b1ea45;
  border-color: #b1ea45;
}
header {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header nav ul.navbar-nav {
  margin-left: auto;
}
header section {
  background-color: rgba(2, 85, 225, 0.7);
  padding: 2rem;
  max-width: 500px;
}
main .container {
  margin: 8rem auto;
}
main .container section img {
  max-width: 650px;
  margin-bottom: 2rem;
  margin-left: auto;
}
main .container section article {
  margin-right: auto;
}
main #products h3 {
  background-image: url("../images/brochures.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0;
  margin-bottom: 2rem;
  color: #ffffff;
}
main #activities h3 {
  background-image: url("../images/crafts.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0;
  margin-bottom: 2rem;
  color: #ffffff;
}
main #activities article {
  margin-left: auto;
}
main #contact h3 {
  background-image: url("../images/pam.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0;
  margin-bottom: 2rem;
  color: #ffffff;
}
main .video {
  background-color: #cccccc;
  padding: 5rem;
}
main .video iframe {
  max-width: 560px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}
footer {
  background-color: #80d8fe;
}
footer #newsletter {
  padding: 5rem 0;
}
footer #newsletter .form-control {
  max-width: 30rem;
  margin-right: 1rem;
}
footer section#grey-bg {
  background-color: #cccccc;
  padding: 5rem 0;
}
footer section#grey-bg #footer .col-10 {
  margin: 1.5rem 0;
}
footer section#grey-bg #footer .col-10 p {
  margin-bottom: 0;
}
footer section#grey-bg #footer .col-10 .blue {
  color: #0255e1;
}
footer section#grey-bg #footer .icon {
  max-width: 3rem;
}
footer section#grey-bg #footer #quicklinks {
  margin-top: 3rem;
  border-top: 1px #000000 solid;
}
footer section#grey-bg #footer #quicklinks .wrapper {
  margin-top: 2rem;
}
footer #white-bg {
  background-color: #ffffff;
  padding: 3rem 0;
}
@media (min-width: 467px) {
  #footer .col-10 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: auto !important;
    margin-top: 0 !important;
  }
}
@media (min-width: 992px) {
  #newsletter h2,
  #newsletter p {
    text-align: left;
  }
  #social {
    max-width: 17rem;
    margin: auto;
    margin-top: -7rem;
  }
  #quicklinks {
    margin-top: 7rem;
  }
}
