.bgImg {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0;
  margin-bottom: 2rem;
  color: #ffffff;
}
body {
  font-family: "Helvetica", sans-serif;
  color: #333333;
}
h2,
h1 {
  font-family: "Anton", sans-serif;
}
.logo {
  width: 75px;
}
h3 {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0;
  margin-bottom: 2rem;
  color: #ffffff;
  font-weight: 700;
}
.btn-info {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-info:hover {
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-primary {
  background-color: #0255e1;
  border-color: #0255e1;
}
.btn-primary:hover {
  background-color: #80d8fe;
  border-color: #80d8fe;
}
.btn-secondary {
  background-color: #8fc823;
  border-color: #8fc823;
}
.btn-secondary:hover {
  background-color: #b1ea45;
  border-color: #b1ea45;
}
header {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header nav ul.navbar-nav {
  margin-left: auto;
}
header nav ul.navbar-nav .nav-item {
  font-weight: 700;
}
header section {
  background-color: rgba(2, 85, 225, 0.8);
  padding: 2rem;
  max-width: 500px;
}
header.about section {
  background-color: rgba(255, 0, 0, 0.8);
}
#products-header {
  background-image: url("../images/banner_products.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#products-header .section-center {
  margin: auto;
}
#products-header section {
  background-color: rgba(143, 200, 35, 0.8);
  padding: 2rem;
  max-width: 500px;
  text-align: center;
}
main .container {
  margin: 8rem auto;
}
main .container section img {
  max-width: 650px;
  margin-bottom: 2rem;
  margin-left: auto;
}
main .container section article {
  margin-right: auto;
}
main #products h3 {
  background-image: url("../images/brochures.png");
}
main #activities h3 {
  background-image: url("../images/crafts.png");
}
main #activities article {
  margin-left: auto;
}
main #contact h3 {
  background-image: url("../images/pam.png");
}
main .video {
  background-color: #cccccc;
  padding: 5rem 0;
}
main .video iframe {
  max-width: 560px;
  width: 100%;
  display: flex;
  margin: auto;
}
.about-us .about-us-content {
  position: relative;
  background-image: url('../images/our-story.jpg');
  background-size: cover;
  background-position: center center;
  padding: 130px 50px;
  z-index: 5;
  color: #fff;
}
.about-us .about-us-content:after {
  background-color: rgba(2, 85, 225, 0.8);
  content: '';
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  z-index: -5;
}
.about-us .about-us-content p {
  width: 40%;
}
@include media-breakpoint-down(md) {
  width: 90%;
}
#main-products .container {
  margin: 1rem auto;
  max-width: 1050px;
}
.product-img {
  width: 100%;
  max-width: 500px;
}
.card {
  max-width: 500px;
  margin-bottom: 15px;
  border: none;
}
.card p {
  font-size: 0.7rem;
}
.copy {
  padding: 18% 6% 0 9%;
  max-width: 475px;
}
.btn-light {
  background-color: #ffffff;
  font-size: 0.7rem;
}
.about-products {
  margin: 55px 40px 40px 50px;
}
footer {
  background-color: #80d8fe;
}
footer #newsletter {
  padding: 5rem 0;
}
footer #newsletter .form-control {
  max-width: 30rem;
  margin-right: 1rem;
}
footer section#grey-bg {
  background-color: #cccccc;
  padding: 5rem 0;
}
footer section#grey-bg #footer .col-10 {
  margin: 1.5rem 0;
}
footer section#grey-bg #footer .col-10 p {
  margin-bottom: 0;
}
footer section#grey-bg #footer .col-10 .blue {
  color: #0255e1;
}
footer section#grey-bg #footer .icon {
  max-width: 3rem;
}
footer section#grey-bg #footer #quicklinks {
  margin-top: 3rem;
  border-top: 1px #000000 solid;
}
footer section#grey-bg #footer #quicklinks .wrapper {
  margin-top: 2rem;
}
footer #white-bg {
  background-color: #ffffff;
  padding: 3rem 0;
}
@media (min-width: 467px) {
  #footer .col-10 {
    justify-content: flex-end;
    margin-left: auto !important;
    margin-top: 0 !important;
  }
}
@media (min-width: 800px) {
  .card p {
    font-size: 1rem;
  }
  .copy .btn-light {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  #newsletter h2,
  #newsletter p {
    text-align: left;
  }
  #social {
    max-width: 17rem;
    margin: auto;
    margin-top: -7rem;
  }
  #quicklinks {
    margin-top: 7rem;
  }
}
